{
    servers {
        protocols h1 h2
    }
}

(common) {
    tls internal
    encode gzip
    header {
        X-Frame-Options "deny"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
}

server-00.oauth.labs {
    import common
    reverse_proxy server-00:3000
}

client-00.oauth.labs {
    import common
    reverse_proxy client-00:3000
}
